<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/main.css">
    <title>AI Camp - Week 0</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <p id="text01">Week 0 - Sprint</p>
        </div>
        <div class="content">
            <p id="text02">Prompt</p>
            <p id="text03">Research the best Node.JS backend to use to serve static webpages (should be lightweight, commonly used, and easy to implement for people new to JS).</p>
            <ul>
                <li>Build a simple site to get it working</li>
            </ul>
            
            <div id="divider"></div>
            <p id="text02">Answer</p>
            <p id="text03">After my research I was able to find that Express.JS is the best Node.JS backend to serve static webpages. <a href="https://expressjs.com">Express.JS Website</a></p>
            
            <div id="divider"></div>
            <p id="text02">My Web App</p>
            <p id="text03">You are looking at it now this site it written in Express.JS look at the source code on <a href="https://github.com/Shawn-E/basic-express-web-app">github</a>.</p>
        </div>

        <br> <br> <br> <br> <br>

        <div class="example">
            <h1>Welcome To Express.JS</h1>
            <br>
            <p>This is a varible: <%= var1 %></p>
            <br>
            <p>Using the query in the url you can change the statement below (For the query add this to the end of the url: ?message=Hello)</p>
            <% if(!query) { %>
                <p id="msg">No query :(</p>
            <% } else { %>
                <p id="msg"><%= query %></p>
            <% } %>

        </div>
    </div>
</body>
</html>